* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#card {
  background-color: wheat;
  width: fit-content;
  height: fit-content;
  border: 7px rgb(239, 197, 119) double;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 30px;
}

#img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

#heading-text {
  display: inline; /* setter block element på siden av elementet over */
}

#text-cont {
  display: inline-block;
}

.txt {
 display: block;
}